/***************************************************************************************************
PopupWindow - The ultimate popup/dialog/modal jQuery plugin
    Author          : Gaspare Sganga
    Version         : 1.0.3
    License         : MIT
    Documentation   : http://gasparesganga.com/labs/jquery-popup-window/
***************************************************************************************************/
/*
    You can customize your PopupWindow style directly in this file
    or override some classes/styles using an external CSS file loaded after this.
*/

/* Overlay */
.popupwindow_overlay {
    background-color    : rgba(255,255,255,0.6);
    pointer-events: none;
}

/* Window */
.popupwindow {
    color               : #303030;
    background-color    : #fcfcfc;
    border              : 1px solid #c8c8c8;
    box-shadow          : 0px 2px 4px #a0a0a0;
    border-radius: 18px;
}
.popupwindow-dark{
  border              : 1px solid #555555;

}
.popupwindow_minimized {
    width               : 200px;
    box-shadow          : none;
}



/* TitleBar */
.popupwindow_titlebar {
    background-color    : #f7f1f3;
    padding             : 4px;
    text-align: center;
    border-top-left-radius:18px;
    border-top-right-radius:18px;

}
.popupwindow_titlebar-dark{
  background-color: #343a40;
  border-bottom: 1px solid #1b1b1b;

}

.popupwindow_titlebar_draggable {
    cursor              : move;

}
    /* TitleBar Text */
    .popupwindow_titlebar_text {
        color           : #404040;
        font-family     : inherit;
        font-size       : inherit;
        font-weight     : bold;
        text-align      : left;
        padding-right:  : -70px;
        text-align: center;


    }
    .popupwindow_titlebar_text-dark{
      color:white;
    }
    /* TitleBar Buttons */
    .popupwindow_titlebar_button {
        cursor              : pointer;
        width               : 16px;
        height              : 16px;
        padding-right       : 3px;
        margin-left         : 3px;
        margin-right        : 4px;
        background-color    : #f0f0f0;
    }
        .popupwindow_titlebar_button:hover {

        }
        .popupwindow_titlebar_button:active {

        }
        /* The following classes can be used to customize single buttons */
        .popupwindow_titlebar_button_close {
          background-image:url("Resources/close-normal.png");
          background-size:16px;
          background-color: inherit;
          border:none;
          height:16px;
          width:16px;
          margin-right: 10px;

        }
        .popupwindow_titlebar_button_close:hover {
          background-image:url("Resources/close-hover.png");
        }
        .popupwindow_titlebar_button_close:active {
          background-image:url("Resources/close-press.png");

        }

        .popupwindow_titlebar_button_maximize {
          background-image:url("Resources/max-normal.png");
          background-size:16px;
          background-color: inherit;
          border:none;
          height:16px;
          width:16px;
        }
            .popupwindow_titlebar_button_maximize:hover {
              background-image:url("Resources/max-hover.png");
            }
            .popupwindow_titlebar_button_maximize:active {
              background-image:url("Resources/max-press.png");
            }

        .popupwindow_titlebar_button_collapse {
          background-image:url("Resources/collapse-normal.png");
          background-size:16px;
          background-color: inherit;
          border:none;
          height:16px;
          width:16px;
        }
            .popupwindow_titlebar_button_collapse:hover {
               background-image:url("Resources/collapse-hover.png");
            }
            .popupwindow_titlebar_button_collapse:active {
              background-image:url("Resources/collapse-pressed.png");

            }

        .popupwindow_titlebar_button_minimize {
          background-image:url("Resources/min-normal.png");
          background-size:16px;
          background-color: inherit;
          border:none;
          height:16px;
          width:16px;

        }
            .popupwindow_titlebar_button_minimize:hover {
              background-image:url("Resources/min-hover.png");
            }
            .popupwindow_titlebar_button_minimize:active {
              background-image:url("Resources/min-press.png");
            }

/* Content */
.popupwindow_content {
    border-top      : 1px solid #c8c8c8;
    padding-top     : 10px;
    padding-right   : 10px;
    padding-left    : 10px;
    padding-bottom  : 10px; /* In order to preserve padding-bottom when the content is taller than the PopupWindow and thus scrolled on the Y-axis, set the same value as "height" in the following :after pseudo-class */
}
.popupwindow_content-dark{
  border-top      : 1px solid #1b1b1b;
  background-color: #121212;
  color:white;

}
.popupwindow_content:after {
    content         : "";
    display         : block;
    height          : 10px; /* Set this value equal to .popupwindow_content's "padding-bottom" to preserve it when the content overflows Y-axis and the scrollbar is shown */
}

/* StatusBar */
.popupwindow_statusbar {
    background-color    : #f7f1f3;
    border-top          : 1px solid #c8c8c8;
    border-bottom-left-radius:18px;
    border-bottom-right-radius:18px;
    height: 18px;
}
.popupwindow_statusbar-dark{
  background-color    : #343a40;
  border-top: 1px solid #1b1b1b;

}
    /* StatusBar Content */
    .popupwindow_statusbar_content {
        color               : #303030;
        font-family         : inherit;
        font-size           : inherit;
        font-weight         : normal;
        padding-left        : 4px;
    }
    /* StatusBar Handle */
    .popupwindow_statusbar_handle {
        width               : 9px;
        height              : 9px;
        stroke              : #a0a0a0;
        margin-right: 9px;
        margin-bottom: 5px;
    }
